@charset "UTF-8";
@use "./common/reset";
@use "./layout/header";
@use "./common/layout";

// l-topics
.l-topics {
    background-color: rgb(255, 255, 255);
    min-height: 370px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    h2 {
        font-size: 35px;
        padding-top: 20px;
        padding-left:5%;
    }
    ul {
        gap: 20px;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    &--img {
        background-color: antiquewhite;
        width: 330px;
        height: 230px;
    }
    &--title {
        font-size: 18px;
        padding-top: 8px;
        font-weight: bold;
    }
}