@charset "UTF-8";
@use "./common/reset";
@use "./layout/header";
@use "./common/layout";

// l-hero
.l-hero {
    background-color: #232323;
    height: 400px;
    overflow: hidden;
    img {
        min-width:100%;
        max-height: 400px;
    }
    ul {
        display: flex;
        flex-direction: row;
        li div img {
            width:100%;
        height: 400px;
        }
    }

}
.l-hero2 {
    background-color: #232323;
    height: 400px;
    overflow-x: hidden;
    img {
        min-width:100%;
        max-height: 400px;
    }
    ul {
        display: flex;
        flex-direction: row;
        li div img {
            width:100%;
        height: 400px;
        }
    }
}
.slider {
    width: 94%;
    margin: 0 auto;
    img {
        width: 100%;
        height: auto;
    }
}

// common
.h2-ttl--main {
    font-size: 35px;
    padding-top: 20px;
    padding-left:5%;
    
    font-style: italic;
}
.h2-ttl--sub {
    font-size: 12px;
    font-weight: 100;
    padding-left: 5%;
    padding-bottom: 20px;
}

// l-topics
.l-topics {
    background-color: rgb(255, 255, 255);
    min-height: 370px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding-bottom: 40px;
    ul {
        gap: 20px;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    &--img {
        background-color: antiquewhite;
        width: 330px;
        height: 230px;
        border-radius: 4px;
        img {
            border-radius: 4px;
        }
    }
    &--title {
        font-size: 18px;
        padding-top: 8px;
        font-weight: bold;
    }
}

// l-news
.l-news {
    background-color: aquamarine;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    gap: 10%;
    &--area {
        width: 30%;
        display: flexbox;
        flex-direction: row;
    }
    &-label {
        display: flex;
        flex-direction: row;
        gap: 5px;
        li {
            padding-top: 3px;
            padding-bottom: 3px;
            width: 60px;
            background-color: bisque;
            border-radius: 4px;
        }
    }
}