li, ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.l-header {
  background-color: antiquewhite;
  width: 100%;
  height: 105px;
  margin: 0 auto;
}
.l-header .header-inner {
  margin-left: 5%;
  padding: 4px 0 4px 0;
  background-color: rgb(49, 52, 131);
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.l-header .header-inner .header-logo {
  color: red;
}
.l-header-logo {
  font-size: 20px;
  color: aqua;
}

.l-breadcrumbs {
  width: 100%;
  height: 18px;
  background-color: #e0e0e0;
  display: flex;
  align-items: center;
}
.l-breadcrumbs ul {
  display: flex;
  flex-direction: row;
}
.l-breadcrumbs ul li a {
  font-size: 9px;
  color: #5c5c5c !important;
  vertical-align: middle;
}
.l-breadcrumbs ul li::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  background-image: url("../images/icon_arrow_right.svg");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 3px;
}
.l-breadcrumbs ul li:last-child::after {
  content: none;
}
.l-breadcrumbs svg {
  fill: #fff;
}

.l-title--page {
  width: 100%;
  height: 40px;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-size: 25px !important;
}

.l-image--page {
  width: 100%;
  height: 150px;
  background-image: url("../images/img_03.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
}

.l-pagenation {
  width: auto;
  height: 30px;
  padding-top: 30px;
}
.l-pagenation ul {
  gap: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.l-pagenation ul li {
  padding: 6px 12px;
  background-color: #5c5c5c;
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.c-flexrow {
  display: flex;
  flex-direction: row;
}

.c-flexcol {
  display: flex;
  flex-direction: column;
}

.c-pdlr--wide {
  padding-left: 10%;
  padding-right: 10%;
}

.c-pdlr--morewide {
  padding-left: 20%;
  padding-right: 20%;
}

.c-pdl--s {
  padding-left: 9px;
}

.c-pdb--s {
  padding-bottom: 15px;
}

.c-malr--wide {
  margin: 0 auto;
}

.c-pagetitle-h2 {
  font-size: 25px;
}

.c-imagetitle {
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  color: #fff;
  position: sticky;
  z-index: 20;
  letter-spacing: 0.2rem;
}
.c-imagetitle--l {
  font-size: 40px;
  font-weight: 700;
}

.c-overlay-image--page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.c-txt--s {
  font-size: 10px;
}

.c-position--right {
  display: block;
  text-align: end;
}

.c-news-date {
  font-size: 10px;
  padding-right: 9px;
}

.l-news-wrapper ul {
  gap: 5px;
}
.l-news-wrapper ul li {
  font-size: 10px;
  padding: 3px 8px;
  background-color: #66aed5;
  border-radius: 2px;
}
.l-news-wrapper .w--90 {
  width: 90px;
  text-align: center;
}

.material-symbols-outlined {
  transform: rotate(-90deg);
  font-variation-settings: "FILL" 0, "wght" 100, "GRAD" 0, "opsz" 20;
}

.c-pt--m {
  padding-top: 15px;
}

.c-pt--l {
  padding-top: 50px;
}

.c-pt--xl {
  padding-top: 70px;
}

.c-mt--m {
  margin-top: 15px;
}

.c-mt--l {
  margin-top: 50px;
}

.c-mt--xl {
  margin-top: 70px;
}

.c-border-black60--p310f10 {
  border: 1px solid #232323;
  border-radius: 60px;
  padding: 3px 10px;
  font-size: 10px;
}

.c-f--m {
  font-size: 14px;
  padding-top: 10px;
}

.c-f--l-circlehushtag {
  font-size: 12px;
  border: 1px solid #232323;
  border-radius: 60px;
  display: inline-flex;
  padding: 6px 12px;
  margin-top: 15px;
}

.c-f--l-circlehushtag::before {
  content: "# ";
}

.c-endicon-arrow--s::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url("../images/icon_arrow_right_circle.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 5px;
}

@media (min-width: 890px) {
  .l-news {
    grid-template-columns: 1fr 1fr;
  }
}
p {
  font-size: 14px;
}

.l-hero {
  background-color: #232323;
  height: 400px;
  overflow: hidden;
}
.l-hero img {
  min-width: 100%;
  max-height: 400px;
}
.l-hero ul {
  display: flex;
  flex-direction: row;
}
.l-hero ul li div img {
  width: 100%;
  height: 400px;
}

.l-hero2 {
  background-color: #232323;
  height: 400px;
  overflow-x: hidden;
}
.l-hero2 img {
  min-width: 100%;
  max-height: 400px;
}
.l-hero2 ul {
  display: flex;
  flex-direction: row;
}
.l-hero2 ul li div img {
  width: 100%;
  height: 400px;
}

.slider {
  width: 94%;
  margin: 0 auto;
}
.slider img {
  width: 100%;
  height: auto;
}

.h2-ttl--main {
  font-size: 35px;
  padding-top: 20px;
  font-style: italic;
  display: ruby-text;
}

.h2-ttl--sub {
  font-size: 12px;
  font-weight: 100;
  padding-bottom: 20px;
  margin-top: -20px;
}

.l-topics {
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin: 0;
  overflow: hidden;
  padding-bottom: 40px;
  padding-left: 5%;
}
.l-topics ul {
  gap: 20px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.l-topics--img {
  border-radius: 4px;
}
.l-topics--img img {
  border-radius: 4px;
}
.l-topics--title {
  font-size: 14px;
  padding-top: 8px;
}

.l-news {
  background-color: #abb8c3;
  height: auto;
  width: 100%;
  display: grid;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 20px;
  gap: 5%;
  align-items: flex-start;
}
.l-news-areawrapper {
  max-width: 600px;
}
.l-news--area {
  max-width: 600px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.l-news-label {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 30px;
}
.l-news-label-txt {
  padding-top: 3px;
  padding-bottom: 3px;
  width: 100px;
  background-color: #232323;
  border-radius: 4px;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  font-size: 10px;
  color: #fff;
}
.l-news-lists {
  margin-bottom: 15px;
}
.l-news-lists .list-wrapper {
  width: auto;
  border-bottom: 0.7px solid #6a6a6a;
  padding-top: 8px;
  padding-bottom: 8px;
  display: grid;
  align-items: center;
  gap: 3px;
  font-size: 14px;
  height: auto;
}
.l-news-lists .list-wrapper--row {
  display: flex;
  flex-direction: row;
}
.l-news-lists .list-wrapper .news-day {
  font-size: 12px;
}
.l-news-lists .list-wrapper .l-news-text {
  font-size: 12px;
}
.l-news-lists .list-wrapper:first-child {
  border-top: 0.7px solid #6a6a6a;
}
.l-news .btn--newsmore {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 230px;
  background-color: #232323;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  margin: 30px auto;
}

.l-flex-center--gap20 {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.l-flex-center--gap60 {
  display: flex;
  justify-content: center;
  gap: 60px;
}

section {
  overflow-x: hidden;
}/*# sourceMappingURL=home.css.map */