@charset "UTF-8";
@use "./common/reset";
@use "./layout/header";
@use "./layout/section";
@use "./common/layout";
@use "./common/typo";
@use "./common/icon";

// body {
//     overflow: hidden;
// }
// l-hero
.l-hero {
    background-color: #232323;
    height: 400px;
    overflow: hidden;
    img {
        min-width:100%;
        max-height: 400px;
    }
    ul {
        display: flex;
        flex-direction: row;
        li div img {
            width:100%;
        height: 400px;
        }
    }

}
.l-hero2 {
    background-color: #232323;
    height: 400px;
    overflow-x: hidden;
    img {
        min-width:100%;
        max-height: 400px;
    }
    ul {
        display: flex;
        flex-direction: row;
        li div img {
            width:100%;
        height: 400px;
        }
    }
}
.slider {
    width: 94%;
    margin: 0 auto;
    img {
        width: 100%;
        height: auto;
    }
}

// common
.h2-ttl--main {
    font-size: 35px;
    padding-top: 20px;
    padding-left:5%;
    font-style: italic;
    display: ruby-text;
}
.h2-ttl--sub {
    font-size: 12px;
    font-weight: 100;
    padding-left: 5%;
    padding-bottom: 20px;
    margin-top: -20px;
}

// l-topics
.l-topics {
    background-color: rgb(255, 255, 255);
    min-height: 370px;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding-bottom: 40px;
    padding-left: 5%;
    ul {
        gap: 20px;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    
    &--img {
        background-color: antiquewhite;
        width: 330px;
        height: 230px;
        border-radius: 4px;
        img {
            border-radius: 4px;
        }
    }
    &--title {
        font-size: 16px;
        padding-top: 8px;
        // font-weight: bold;
    }
}

// l-news
.l-news {
    background-color: aquamarine;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 20px;
    gap: 5%;
    align-items: flex-start;
    &-areawrapper {
        max-width: 600px;
    }
    &--area {
        max-width: 600px;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
    }
    &-label {
        display: flex;
        flex-direction: row;
        gap: 10px;
        margin-left: 30px;
        &-txt {
            padding-top: 3px;
            padding-bottom: 3px;
            width: 120px;
            background-color: bisque;
            border-radius: 4px;
            height: fit-content;
            text-align: center;
            font-size: 14px;
            margin-bottom: 43px;
        }
    }
    &-lists {
        margin-top: 15px;
        margin-bottom: 15px;
        li {
            width: auto;
            border-top: 0.7px solid #6a6a6a;
            border-bottom: 0.7px solid #6a6a6a;
            padding-top: 8px;
            padding-bottom: 8px;
            display: grid;
            align-items: center;
            grid-template-columns: 0.5fr 0.8fr 1.5fr;
            gap: 15px;
            font-size: 14px;
            .news-day {
                font-size: 12px;
            }
            .l-news-text {
                font-size: 14px;
            }
        }
    }
    .btn--newsmore {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 230px;
        background-color: #232323;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        margin: 30px auto;
    }
}