.l-news {
    width: 100%;
    height: auto;
    background-color: #e0e0e0;
    ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        li {
            font-size: 12px;
            padding: 3px 10px;
            background-color:#00dbff;
            text-align: center;
        }
        .w--105 {
            width: 105px;
        }

    }
}
.l-newslist {
    max-width: 780px;
    // background-color: antiquewhite;
    height: auto;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 60px;
    .l-news-wrapper {
        width: 100%;
        height: auto;
        display:flex;
        flex-direction:row;
        align-items: center;
        gap: 20px;
        padding-top: 11px;
        padding-bottom: 11px;
        border-top: 0.7px solid #e0e0e0;
        border-bottom: 0.7px solid #e0e0e0;
        img {
            width: 133px;
            height: 83px;
        }
        &--txt {
            &-first {
                display: flex;
                flex-direction: row;
                align-items: center;
                    ul {
                        display: flex;
                        flex-direction: row;
                    }
            }
            &-second {
                padding-top: 9px;
                max-width: 100%;
                display: flex;
                align-items: center;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
    
        }
            
    }
}
