.c-endicon-arrow--s::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background-image: url('../images/icon_arrow_right_circle.svg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    margin-left: 5px;
}
