.c-flexrow {
    display: flex;
    flex-direction: row;
}
.c-flexcol {
    display: flex;
    flex-direction: column;
}
.c-pdlr--wide {
    padding-left: 10%;
    padding-right: 10%;
}
.c-pdlr--morewide {
    padding-left: 20%;
    padding-right: 20%;
}
.c-pdl--s {
    padding-left: 9px;

}
.c-pdb--s {
    padding-bottom: 15px;

}
.c-malr--wide {
    margin: 0 auto;
}
  